@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

body {
	font-family: 'Livvic', sans-serif;
}

button,
input,
svg,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
